.dictionaryBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vocab {
  color: white;
  font-size: 30px;
  margin: 20px;
  font-weight: 800;
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  height: 30px;
  width: 300px;
  overflow: hidden;
}

.searchBar > button {
  height: 40px;
  width: 60px;
  background-color: white;
  color: #5d1049;
  cursor: pointer;
}

.wordList {
  flex: 1;
  background-color: white;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow-y: scroll;
  padding-right: 10px;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  margin: 30px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-right: 4px white solid;
  background-clip: padding-box;
  margin: 10px;
}

.firstload {
  position: sticky;
  top: 0;
  text-align: right;
  width: fit-content;
  background-color: white;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.invisible {
  position: sticky;
  top: 0;
  text-align: right;
  width: fit-content;
  background-color: #5d1049;
  color: white;
  padding: 5px;
  border-radius: 10px;
  -webkit-animation: fadeout 400ms linear forwards;
  animation: fadeout 400ms linear forwards;

  /* animation: 1s rotate linear infinite; */
}
.visible {
  position: sticky;
  top: 0;
  text-align: right;
  width: fit-content;
  background-color: #5d1049;
  color: white;
  padding: 5px;
  border-radius: 10px;
  -webkit-animation: fadein 400ms linear forwards;
  animation: fadein 400ms linear forwards;

  /* animation: 1s rotate linear infinite; */
}

.rotation {
  animation: 1s rotate linear infinite;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaders {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.briefList {
  -webkit-animation: fadein 400ms linear forwards;
  animation: fadein 400ms linear forwards;
}

.fadeAnimation {
  -webkit-animation: fadein 400ms linear forwards;
  animation: fadein 400ms linear forwards;
}

.addNewWord {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.addButton {
  color: #5d1049;
  cursor: pointer;
}

.showNone {
  display: none;
}
.addTextV {
  border-radius: 10px;
  padding: 5px;
  animation: 300ms makevisible linear forwards;
}
.addTextInV {
  animation: 300ms makeinvisible linear forwards;
}

@keyframes makevisible {
  0% {
    color: white;
    background-color: white;
  }
  100% {
    color: white;
    background-color: #5d1049;
  }
}
@keyframes makeinvisible {
  0% {
    color: white;
    background-color: #5d1049;
  }
  100% {
    color: white;
    background-color: white;
    display: none;
  }
}

.winHide {
  display: none;
}

.winShow {
  display: flex;
  align-items: center;
  background-color: #5d1049;
  border-radius: 10px;
  margin: 20px;
  height: 30px;
  width: 300px;
  overflow: hidden;
  padding: 5px;
  animation: 300ms makevisible linear forwards;
}

.winShow > button {
  height: 25px;
  width: 60px;
  background-color: white;
  color: #5d1049;
  cursor: pointer;
}
