.dictionaryBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vocab {
  color: white;
  font-size: 30px;
  margin: 20px;
  font-weight: 800;
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  height: 30px;
  width: 300px;
  overflow: hidden;
}

.searchBar > button {
  height: 40px;
  width: 60px;
  background-color: white;
  color: #5d1049;
  cursor: pointer;
}

.wordList {
  flex: 1;
  background-color: white;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow-y: scroll;
  padding-right: 10px;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  margin: 30px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-right: 4px white solid;
  background-clip: padding-box;
  margin: 10px;
}

.wait {
  position: sticky;
  top: 0;
  text-align: right;
  width: fit-content;
  background-color: #5d1049;
  color: white;
  padding: 5px;
  border-radius: 10px;

  /* animation: 1s rotate linear infinite; */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
